/* #f3f4ef #aaa9a9 #8a6e6e #92929f #383642 */

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #383642;
  background: #383642;
}

#mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inputContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.3em;
}

#dataContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.3em;
}

.inputSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  padding: 0.3em;
}

.inputSubSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

#messageContainer {
  width: 100%;
  height: 2rem;
  text-align: center;
}

input[type=text], input[type=time], select {
  border: none;
  background-color: #F3F4EF; 
  color: #383642;
  border-radius: 5px;
  padding: 0.3em;
  margin: 0.5em;
  height: 1.5em;
  width: 15em;
}

option {
  background-color: #F3F4EF; 
  color: #383642;
}

select:hover,
select:focus {
  background: #dddddd;
}

option:checked {
  background: #dddddd;
}

input:disabled {
  background-color: #e2e0e0;
  color: #d8d8d8;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  padding: 0.3em;
  margin: 0.5em;
  height: 1.5em;
  border-radius: 3px;
  background: #92929f;
  color: rgb(243, 244, 239);
}

#metabolismSpeedSelect, #presetDrinkSelect {
  height: 1.7rem;
  width: 15.55em;
}

button {
  background-color: rgb(243, 244, 239);
  color: #383642;
  border: none;
  box-shadow: none;
  height: 4.5em;
  padding: 1em;
  margin: 1em;
  border-radius: 0.3em;
  cursor: pointer;
  text-align: center;
}

button:hover,
button:focus {
  background: #dddddd;
}

.actualDataSubContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: #F3F4EF;
  padding: 1.5em;
  border-radius: 50px;
  font-size: 3em;
  text-align: center;
  width: 0.3em;
  height: 0.3em;
  margin: auto;
}

.actualDataSubContainer > div {
  background: #F3F4EF;
  font-size: 0.5em;
}

#currentCaffeineValue{
  font-size: 1.1em;
}

span {
  background: #F3F4EF;
  font-size: 0.6em;
}
.userDataContainer {
  background: #F3F4EF;
  border-radius: 5px;
  padding: 0.3em;
}
.userDataSubContainer {
  background: #F3F4EF;
  font-size: 0.9em;
  margin: 0.6em;
}
.dataValuesSubContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.dataSubContainer{
  display: flex;
  flex-direction: column;
  background: #92929f;
  border-radius: 10px;
  gap: 2.5em;
  padding: 1em;
  margin: auto;
  height: auto;
  width: 21em;
}

.graphContainer {
  margin: auto;
}
canvas {
  padding: 1em;
  width: 100%;

  color: #F3F4EF;
  background: #92929f
}

.dataTableContainer {
  font-size: 0.8em;
  margin: auto;
  color: #F3F4EF;
  background: #92929f
}

table {
  color: #F3F4EF;
  background: #92929f;
  table-layout: fixed
}

th, td {
  color: rgb(243, 244, 239);
  background: #92929f;
  height: 2em;
  width: 7em;
  text-align: center;
}

table, th, td {
  border: 1px solid #aaa9a9;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  border-top: none;
}